*{
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    border: 1px solid #060;
    color: white;
}
#container{
    width: 1000px;
    margin: 30px;
    background-color: rgb(59, 58, 58);
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#phone_number{
    display: inline-block;
}
.hot_bar_text{
    display: inline-block;
    padding: 10px 20px;

}
#sleeper{
    border: 0px;
}
.inline_block{
    display: inline-block;
}
#main{
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
.icon_box{
    display: flex;
    align-items: flex-start;
}
.icon_text{
    display: inline-block;
}
.icon{
    /* padding: 50% 0%;
    height: 100%; */
}
#split{
    display: flex;
    padding: 5px;
    margin: 5px;
}
#split_text{
    background-color: #123;
}
input[type='button']{
    margin: 20px;
    background-color: orange;
    border-radius: 5px;
    padding: 5px;
}
#footer{
    padding: 5px;
    margin: 5px;
}
#footer_head{
    display: flex;
    justify-content: space-between;
}
#footer_main{
    display: flex;
}
#BTT{
    display: flex;
    justify-content: flex-end;
}
